html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: rgb(24, 24, 24);
	color: rgb(255, 255, 255);
	font-family: 'Roboto', 'Noto', sans-serif;
}
aside {
	float: right;
}
header {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	height: 56px;
	background-color: rgba(33, 33, 33, 0.98);
	padding: 10px 0;
}
.overlap {
	padding: 50px 0;
}
.header-section {
	display: flex;
	justify-content: space-between;
	padding-top: 6px;
}
.menu {
	margin-left: 24px;
}
.search {
	margin: -8px 0 0 -30px;
}
.search span {
	display: inline-block;
}
.search-btn {
	background-color: rgba(255, 255, 255, 0.08);
	color: rgba(255, 255, 255, 0.28);
	text-align: center;
	box-sizing: border-box;
	width: 65px;
	font-size: 21px;
	height: 32px;
	padding-top: 6px;
	margin-left: -7px;
}
.search-btn,
.mic {
	position: relative;
	top: 5px;
}
.mic {
	left: 4px;
}
input {
	background-color: rgb(18, 18, 18);
	color: white;
	border: 1px solid rgb(48, 48, 48);
	padding: 3px 10px;
	font-size: 16px;
	line-height: 24px;
	width: 29vw;
	margin: 0 0;
}
.head-options {
	display: flex;
	justify-content: space-around;
	width: 225px;
}
.signin-text {
	position: relative;
	top: -3px;
	font-weight: 400;
}
.acc-icon {
	position: relative;
	top: 6px;
	font-size: 27px;
}
.signin-btn {
	display: inline-block;
	font-size: 14px;
	color: rgb(62, 166, 255);
	border: 1px solid rgb(62, 166, 255);
	box-sizing: border-box;
	height: 40px;
	width: 105px;
	text-align: center;
	position: relative;
	top: -8px;
	padding-bottom: 20px;
}
.menu {
	display: flex;
	width: 160px;
	justify-content: space-between;
}
.ytlogo {
	display: inline-block;
	height: 30px;
	position: relative;
	top: -3px;
	left: -9px;
}
.yt {
	font-family: sans-serif;
	font-weight: 800;
	position: relative;
	top: -12px;
	left: -6px;
}
.left-section {
	margin: -20px 5vw 4vh 5vw;
	width: 67vw;
}
iframe {
	width: 67vw;
	height: 67vh;
	padding-bottom: 15px;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	padding-bottom: 10px;
}
.views {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(170, 170, 170);
	padding-bottom: 18px;
}
.line {
	border-top: 1px solid rgb(70, 70, 70);
}
